/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
/*font-family: 'Red Hat Display', sans-serif;*/



/*body Section */
body{
 max-width: 100%;
 margin: 0 auto;
 background-color: rgb(204, 204, 204);
 font-family: 'Red Hat Display', sans-serif;
 color: black;
 margin: 0;
 text-align: center;
 padding: 1em;
}

/* Header Sections */


h1{
    margin: 0 auto;
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    border-bottom-right-radius: 0.25em;
    color: black;
}



/*nav styling */
nav{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
 ul>li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 1em;
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: white;
}

/* Responsive Nav */
@media (max-width: 600px){
    ul>li{
    font-size: 0.75em; 
    }
}


/*Main Section*/
#feature{
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
    text-align: center;
}

.responsive {
    width: 100%;
    max-width: 50em;
    height: auto;
  }

  main p{
      margin: 5em;
      padding:1em;
      color: black; 
  }


/*Instagram embedded posts section */

.gridContainer {
    margin: auto; 
    display: grid; 
    max-width: 100%; 
    grid-template-rows: 1fr;
    grid-template-areas: "instagram1 instagram2 instagram3";
    column-gap:20px; 
    justify-items: center; 
    margin: 1.5em 0em 1.5em 0; 
      }

.container{
    justify-text: center; 
    width: 20em;
    max-height:40em;
    border-style: solid;
    border-color: black;
    border: 1em;
    overflow: hidden;
    border-radius: 0.5em;
}
      
#instagram1{
    background-color: white;
    grid-area: instagram1;
}
#instagram2{
    background-color: white;
    grid-area: instagram2 ;}
#instagram3{
    background-color:white;
    grid-area: instagram3}

hr{
    color-scheme: black;
}

/*instagram embedded posts responsive */

@media (max-width:600px){
    .gridContainer{
        grid-template-areas: 
                "instagram1"
                "instagram2"
                "instagram3";
    row-gap: 20px; ;
    border-color: black;
    border-width: 1em;
    }
}


  /*footer Styling */ 
  i{
      font-size: 1.5em;
  }

  footer>p {
      margin-top: 1em;
      color: black;
  }
  

  /* productsSection begins. Embedded Websites using IFrame tag */ 

  .productsContainer{
    margin: auto; 
    display: grid; 
    max-width: 100%; 
    grid-template-rows: 1fr;
    grid-template-areas: "product1 product2 product3";
    column-gap:20px; 
    justify-items: center; 
    margin: 1.5em 0em 1.5em 0; 
      }

 .products{
    width: 30em;
    max-height:30em;
    border-style: solid;
    border-color: black;
    border: 1em;
    overflow: hidden;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
}

.canonImg{
grid-area: product1;
}



.filmImage{
grid-area: products2;
}

.backpackImg{
grid-area: products3;
}

.products:hover{
    opacity: 0.6; ;
  
}


  

/* CssGrid Responsive products */ 
@media (max-width:600px){
    .productsContainer{
        grid-template-areas: 
                "products1"
                "products2"
                "products3";
    row-gap: 20px; ;
    border-color: black;
    border-width: 1em;
    }
